@model Xenon___Allianz.Models.HomePageModel

@{
    ViewBag.Title = "Home - Index";
}

<h2>Index</h2>

<div>
    <h4>HomePageModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">

            @foreach (var item in Model.Wallets)
            {
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <center><h3>@Html.DisplayFor(modelItem => item.Service)</h3></center>
                            <!--<p>Numbers of contracts : ToDo</p>-->
                            <p>
                                <center>

                                    @{


                                        if (((string)Session["XenonStatus"]) == "souscripteur")
                                        {


                                            @Html.ActionLink("Detail", "Index", "Contract",
                                          new { @id = item.Id }, new { @class = "btn btn-primary", @style = " margin-right: 5px" })

                                            <!--@Html.ActionLink("Edit to do", "Edit", "Wallet",
                                            new { @id = item.Service }, new { @class = "btn btn-success" })
                                                  -->
                                        }
                                        else if (((string)(Session["XenonStatus"])).Equals("manager"))
                                        {
                                            @Html.ActionLink("Detail", "Index", "Contract",
                                                new { @id = item.Id }, new { @class = "btn btn-primary" })
                                        }

                                        else
                                        {

                                        }
                                    }
                                </center>

                            </p>

                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var item in Model.Contracts)
                    {
                        @Html.DisplayFor(modelItem => item.Company)
                    }
                    <h4>Last Contract Added</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4>shortcut</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/User">My profile</a></li>
                        <li class="list-group-item">Contact admin</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

