@model Xenon___Allianz.Models.AddWalletToUserContentModel

@{
    ViewBag.Title = "AddWalletToUser";
}

<h2>Ajout de perimètres initiaux</h2>

<div>
    
    <hr />
    <h1>Username : @Model.User.Username</h1>


</div>
@using (Html.BeginForm("AddWalletToUserValid", "Admin"))
{

    
    <input type="hidden" value="@Model.User.Id" name="UserId" readonly />

    foreach (var item in Model.Wallets)
    {
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       name="WalletId"
                       value="@item.Id" /> @item.Service
                </label>
            </div>
        }
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>

    }